modules/comercial/Hotmart_Comercial_Webhook_v1.json
{
  "name": "Hotmart Comercial / Webhook v1",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hotmart-comercial-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hotmart-post",
      "name": "Webhook Hotmart",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -720,
        0
      ],
      "webhookId": "hotmart-comercial-webhook"
    },
    {
      "parameters": {
        "jsCode": "const input = items[0]?.json || {};\n\nreturn [{\n  json: {\n    ...input,\n    config: {\n      plataformaImportUrl: 'http://localhost:3000/api/comercial/hotmart/import',\n      plataformaTenantId: 'ff24d2bc-22e2-4a5b-bc8c-f6d25a7fa3b0',\n      n8nIngestToken: 'COLE_AQUI_O_MESMO_N8N_INGEST_TOKEN'\n    }\n  }\n}];"
      },
      "id": "configurar-plataforma",
      "name": "Configurar Plataforma",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function get(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (!acc || typeof acc !== 'object') return undefined;\n    return acc[key];\n  }, obj);\n}\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return null;\n}\n\nfunction text(...values) {\n  const value = first(...values);\n  return value === null ? null : String(value).trim();\n}\n\nfunction number(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? value : null;\n  const normalized = String(value).replace(/\\./g, '').replace(',', '.');\n  const parsed = Number(normalized);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction integer(...values) {\n  const value = number(...values);\n  return value ? Math.max(1, Math.round(value)) : 1;\n}\n\nfunction date(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n}\n\nfunction hotmartStatus(payload) {\n  return text(\n    get(payload, 'data.purchase.status'),\n    get(payload, 'purchase.status'),\n    get(payload, 'data.status'),\n    payload.status,\n    payload.event\n  ) || 'unknown';\n}\n\nconst input = items[0]?.json || {};\nconst config = input.config || {};\nconst body = input.body || input;\nconst data = body.data || body;\nconst purchase = data.purchase || body.purchase || {};\nconst buyer = data.buyer || purchase.buyer || body.buyer || {};\nconst product = data.product || purchase.product || body.product || {};\nconst payment = data.payment || purchase.payment || body.payment || {};\nconst price = purchase.price || data.price || body.price || {};\nconst commissions = Array.isArray(data.commissions) ? data.commissions : Array.isArray(body.commissions) ? body.commissions : [];\nconst producerCommission = commissions.find((commission) => String(commission.source || '').toUpperCase().includes('PRODUCER')) || commissions[0] || {};\n\nconst transactionId = text(\n  purchase.transaction,\n  data.transaction,\n  body.transaction,\n  body.transaction_id,\n  body.id,\n  `${body.event || 'hotmart'}-${Date.now()}`\n);\n\nconst row = {\n  event_id: text(body.id, body.event_id, get(body, 'event.id'), `${body.event || 'hotmart'}-${transactionId}`),\n  transaction_id: transactionId,\n  event: text(body.event, body.event_name, body.type),\n  product_id: text(product.id, product.ucode, body.product_id, body.hotmart_product_id),\n  product_name: text(product.name, product.title, body.product_name, body.produto_nome),\n  buyer_email: text(buyer.email, body.buyer_email, body.email)?.toLowerCase(),\n  buyer_name: text(buyer.name, buyer.full_name, body.buyer_name, body.name),\n  buyer_phone: text(buyer.phone, buyer.phone_number, body.buyer_phone, body.telefone),\n  status: hotmartStatus(body),\n  payment_type: text(payment.type, payment.method, purchase.payment_type, body.payment_type),\n  installments: integer(payment.installments_number, payment.installments, purchase.installments_number, body.installments, body.parcelas),\n  currency: text(price.currency_code, price.currency, body.currency, body.moeda) || 'BRL',\n  gross_amount: number(price.value, purchase.price?.value, data.price?.value, body.gross_amount, body.valor_bruto, body.price),\n  net_amount: number(producerCommission.value, data.commission?.value, body.net_amount, body.valor_liquido),\n  fees: number(data.fees?.value, purchase.fees?.value, body.fees, body.taxas),\n  purchase_date: date(purchase.order_date, purchase.purchase_date, body.purchase_date, body.data_compra, data.creation_date),\n  approved_date: date(purchase.approved_date, body.approved_date, body.data_aprovacao),\n  refund_date: date(purchase.refund_date, body.refund_date, body.data_reembolso),\n  chargeback_date: date(purchase.chargeback_date, body.chargeback_date, body.data_chargeback),\n  expected_payment_date: date(data.receivable?.expected_payment_date, data.payment?.expected_payment_date, body.expected_payment_date, body.data_prevista),\n  source_sck: text(data.tracking?.source_sck, purchase.tracking?.source_sck, body.source_sck, body.sck),\n  raw_payload: body\n};\n\nif (!row.transaction_id || !row.buyer_email) {\n  return [{ json: { config, rows: [], skipped: true, reason: 'Evento Hotmart sem transaction_id ou buyer_email.', raw_payload: body } }];\n}\n\nreturn [{ json: { config, tenant_id: config.plataformaTenantId, rows: [row], count: 1 } }];"
      },
      "id": "normalizar-hotmart",
      "name": "Normalizar Hotmart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -460,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-rows",
              "leftValue": "={{ $json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-registros",
      "name": "Tem registros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.plataformaImportUrl.replace(/\\/$/, '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.config.n8nIngestToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { tenant_id: $json.tenant_id || $json.config.plataformaTenantId, rows: $json.rows } }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "enviar-plataforma",
      "name": "Enviar Plataforma Comercial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        40,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, imported: $json.imported || 0, skipped: $json.skipped || 0, errors: $json.errors || [] } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "responder-ok",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        300,
        -80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, skipped: true, reason: $json.reason || 'Sem registros importaveis' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "responder-sem-registros",
      "name": "Responder Sem Registros",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        40,
        120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Hotmart": {
      "main": [
        [
          {
            "node": "Configurar Plataforma",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Plataforma": {
      "main": [
        [
          {
            "node": "Normalizar Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Hotmart": {
      "main": [
        [
          {
            "node": "Tem registros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem registros?": {
      "main": [
        [
          {
            "node": "Enviar Plataforma Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder Sem Registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Plataforma Comercial": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "hotmart-comercial-webhook-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "HotmartComercialWebhookV1",
  "tags": []
}
