modules/comercial/Hotmart_Comercial_Backfill_Historico_v1.json
{
  "name": "Hotmart Comercial / Backfill Historico v1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Executar Backfill Historico",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    config: {\n      plataformaImportUrl: 'https://plataf-op-hml.vercel.app/api/comercial/hotmart/import',\n      plataformaTenantId: 'ff24d2bc-22e2-4a5b-bc8c-f6d25a7fa3b0',\n      n8nIngestToken: 'COLE_AQUI_O_MESMO_N8N_INGEST_TOKEN',\n      hotmartBasicAuthorization: 'Basic COLE_AQUI_O_BASIC_DA_HOTMART',\n      hotmartTokenUrl: 'https://api-sec-vlc.hotmart.com/security/oauth/token',\n      hotmartSalesHistoryUrl: 'https://developers.hotmart.com/payments/api/v1/sales/history',\n      startDate: '2020-01-01',\n      endDate: new Date().toISOString().slice(0, 10),\n      maxResults: 100,\n      maxPages: 500\n    },\n    pageToken: null,\n    pageNumber: 1\n  }\n}];"
      },
      "id": "configurar-backfill",
      "name": "Configurar Backfill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.hotmartTokenUrl + '?grant_type=client_credentials' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.config.hotmartBasicAuthorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "obter-token-hotmart",
      "name": "Obter Token Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const tokenResponse = items[0]?.json || {};\nconst previous = $('Configurar Backfill').first().json;\nconst accessToken = tokenResponse.access_token || tokenResponse.token || tokenResponse.accessToken;\n\nif (!accessToken) {\n  throw new Error('Token Hotmart nao retornado. Confira hotmartBasicAuthorization no no Configurar Backfill.');\n}\n\nreturn [{\n  json: {\n    ...previous,\n    accessToken\n  }\n}];"
      },
      "id": "preparar-contexto",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const c = $node['Configurar Backfill'].json.config; const start = new Date(c.startDate + 'T00:00:00-03:00').getTime(); const end = new Date(c.endDate + 'T23:59:59-03:00').getTime(); const params = new URLSearchParams({ start_date: String(start), end_date: String(end), max_results: String(c.maxResults), transaction_status: 'APPROVED,COMPLETE,REFUNDED,CHARGEBACK,CANCELED,EXPIRED' }); if ($json.pageToken) params.set('page_token', $json.pageToken); return c.hotmartSalesHistoryUrl + '?' + params.toString(); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "retry": {
            "maxTries": 3
          }
        }
      },
      "id": "buscar-historico-hotmart",
      "name": "Buscar Historico Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function get(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (!acc || typeof acc !== 'object') return undefined;\n    return acc[key];\n  }, obj);\n}\n\nfunction first(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return null;\n}\n\nfunction text(...values) {\n  const value = first(...values);\n  return value === null ? null : String(value).trim();\n}\n\nfunction number(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? value : null;\n  const normalized = String(value).replace(/\\./g, '').replace(',', '.');\n  const parsed = Number(normalized);\n  return Number.isFinite(parsed) ? parsed : null;\n}\n\nfunction integer(...values) {\n  const value = number(...values);\n  return value ? Math.max(1, Math.round(value)) : 1;\n}\n\nfunction date(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n}\n\nfunction statusFor(item) {\n  return text(item.purchase_status, item.status, get(item, 'purchase.status'), get(item, 'data.purchase.status')) || 'unknown';\n}\n\nconst response = items[0]?.json || {};\nconst context = $('Preparar Contexto').first().json;\nconst current = $('Buscar Historico Hotmart').first().json;\nconst candidates = [response.items, response.data, response.results, response.sales, response.purchases, response.content];\nconst sales = candidates.find(Array.isArray) || [];\nconst rows = [];\n\nfor (const item of sales) {\n  const purchase = item.purchase || item;\n  const buyer = item.buyer || purchase.buyer || {};\n  const product = item.product || purchase.product || {};\n  const payment = item.payment || purchase.payment || {};\n  const price = purchase.price || item.price || {};\n  const transactionId = text(purchase.transaction, item.transaction, item.transaction_id, item.id);\n  const buyerEmail = text(buyer.email, item.buyer_email, item.email)?.toLowerCase();\n\n  if (!transactionId || !buyerEmail) continue;\n\n  rows.push({\n    event_id: text(item.event_id, item.id, 'history-' + transactionId),\n    transaction_id: transactionId,\n    event: 'sales_history',\n    product_id: text(product.id, product.ucode, item.product_id, item.hotmart_product_id),\n    product_name: text(product.name, product.title, item.product_name, item.produto_nome),\n    buyer_email: buyerEmail,\n    buyer_name: text(buyer.name, buyer.full_name, item.buyer_name, item.name),\n    buyer_phone: text(buyer.phone, buyer.phone_number, item.buyer_phone, item.telefone),\n    status: statusFor(item),\n    payment_type: text(payment.type, payment.method, purchase.payment_type, item.payment_type),\n    installments: integer(payment.installments_number, payment.installments, purchase.installments_number, item.installments, item.parcelas),\n    currency: text(price.currency_code, price.currency, item.currency, item.moeda) || 'BRL',\n    gross_amount: number(price.value, purchase.price?.value, item.gross_amount, item.valor_bruto, item.price),\n    net_amount: number(item.commission?.value, item.net_amount, item.valor_liquido),\n    fees: number(item.fees?.value, purchase.fees?.value, item.fees, item.taxas),\n    purchase_date: date(purchase.order_date, purchase.purchase_date, item.purchase_date, item.data_compra, item.creation_date),\n    approved_date: date(purchase.approved_date, item.approved_date, item.data_aprovacao),\n    refund_date: date(purchase.refund_date, item.refund_date, item.data_reembolso),\n    chargeback_date: date(purchase.chargeback_date, item.chargeback_date, item.data_chargeback),\n    expected_payment_date: date(item.receivable?.expected_payment_date, item.payment?.expected_payment_date, item.expected_payment_date, item.data_prevista),\n    source_sck: text(item.tracking?.source_sck, purchase.tracking?.source_sck, item.source_sck, item.sck),\n    raw_payload: item\n  });\n}\n\nconst nextPageToken = text(response.page_info?.next_page_token, response.pageInfo?.nextPageToken, response.next_page_token, response.nextPageToken, response.next);\nconst previousContext = current.accessToken ? current : context;\nconst pageNumber = Number(previousContext.pageNumber || 1);\n\nreturn [{\n  json: {\n    ...previousContext,\n    rows,\n    count: rows.length,\n    nextPageToken,\n    hasNextPage: Boolean(nextPageToken) && pageNumber < Number(previousContext.config.maxPages || 200),\n    pageNumber\n  }\n}];"
      },
      "id": "normalizar-historico",
      "name": "Normalizar Historico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-rows",
              "leftValue": "={{ $json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-vendas",
      "name": "Tem vendas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.plataformaImportUrl.replace(/\\/$/, '') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.config.n8nIngestToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { tenant_id: $json.config.plataformaTenantId, rows: $json.rows } }}",
        "options": {
          "timeout": 120000,
          "retry": {
            "maxTries": 3
          }
        }
      },
      "id": "enviar-plataforma",
      "name": "Enviar Plataforma Comercial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = $('Normalizar Historico').first().json;\nreturn [{\n  json: {\n    ...current,\n    pageToken: current.nextPageToken,\n    pageNumber: Number(current.pageNumber || 1) + 1\n  }\n}];"
      },
      "id": "preparar-proxima-pagina",
      "name": "Preparar Proxima Pagina",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-next",
              "leftValue": "={{ $json.hasNextPage }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-proxima-pagina",
      "name": "Tem proxima pagina?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1140,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ok: true, message: 'Backfill historico concluido ou sem novas paginas.' } }];"
      },
      "id": "fim-backfill",
      "name": "Fim Backfill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Backfill Historico": {
      "main": [
        [
          {
            "node": "Configurar Backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Backfill": {
      "main": [
        [
          {
            "node": "Obter Token Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Token Hotmart": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Buscar Historico Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Historico Hotmart": {
      "main": [
        [
          {
            "node": "Normalizar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Historico": {
      "main": [
        [
          {
            "node": "Tem vendas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem vendas?": {
      "main": [
        [
          {
            "node": "Enviar Plataforma Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim Backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Plataforma Comercial": {
      "main": [
        [
          {
            "node": "Preparar Proxima Pagina",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Proxima Pagina": {
      "main": [
        [
          {
            "node": "Tem proxima pagina?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem proxima pagina?": {
      "main": [
        [
          {
            "node": "Buscar Historico Hotmart",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim Backfill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "hotmart-comercial-backfill-historico-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "HotmartComercialBackfillHistoricoV1",
  "tags": []
}
