modules/comercial/Hotmart_Comercial_Incremental_Diario_v1.json
{
  "name": "Hotmart Comercial / Incremental Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "Acada1hora",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -980,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst missing = [];\nfunction env(name, fallback = '') {\n  const value = $env[name] || fallback;\n  if (!value) missing.push(name);\n  return value;\n}\nconst lookbackDays = Number($env.HOTMART_LOOKBACK_DAYS || 3);\nconst end = new Date();\nconst start = new Date(end);\nstart.setDate(start.getDate() - lookbackDays);\nconst config = {\n  plataformaImportUrl: env('PLATAFORMA_COMERCIAL_IMPORT_URL', 'https://plataf-op-hml.vercel.app/api/comercial/hotmart/import'),\n  plataformaTenantId: env('PLATAFORMA_TENANT_ID'),\n  n8nIngestToken: env('N8N_INGEST_TOKEN'),\n  hotmartBasicAuthorization: env('HOTMART_BASIC_AUTHORIZATION'),\n  hotmartTokenUrl: env('HOTMART_TOKEN_URL', 'https://api-sec-vlc.hotmart.com/security/oauth/token'),\n  hotmartSalesHistoryUrl: env('HOTMART_SALES_HISTORY_URL', 'https://developers.hotmart.com/payments/api/v1/sales/history'),\n  startDate: start.toISOString().slice(0, 10),\n  endDate: end.toISOString().slice(0, 10),\n  maxResults: Number($env.HOTMART_MAX_RESULTS || 100),\n  maxPagesPerStatus: Number($env.HOTMART_MAX_PAGES_PER_STATUS || 50),\n  statuses: [\"APPROVED\", \"COMPLETE\", \"STARTED\", \"WAITING_PAYMENT\", \"PRINTED_BILLET\", \"PROCESSING_TRANSACTION\", \"UNDER_ANALISYS\", \"PRE_ORDER\", \"OVERDUE\", \"CANCELLED\", \"EXPIRED\", \"NO_FUNDS\", \"BLOCKED\", \"REFUNDED\", \"PARTIALLY_REFUNDED\", \"CHARGEBACK\", \"PROTESTED\"]\n};\nif (missing.length) throw new Error('Variaveis ausentes no n8n: ' + missing.join(', '));\nreturn [{ json: { config, accessToken: null, statusIndex: 0, currentStatus: config.statuses[0], pageToken: null, pageNumber: 1, summary: { mode: 'incremental_agendado', startedAt: new Date().toISOString(), statuses: config.statuses, window: { startDate: config.startDate, endDate: config.endDate, lookbackDays }, pagesProcessed: 0, vendasNormalizadas: 0, imported: 0, updated: 0, skipped: 0, errors: [] } } }];\n"
      },
      "id": "ConfigurarIncremental",
      "name": "Configurar Incremental",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.hotmartTokenUrl + '?grant_type=client_credentials' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.config.hotmartBasicAuthorization }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "ObterTokenHotmart",
      "name": "Obter Token Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst tokenResponse = items[0]?.json || {};\nlet previous;\ntry { previous = $('Configurar Backfill').first().json; } catch (error) { previous = $('Configurar Incremental').first().json; }\nconst accessToken = tokenResponse.access_token || tokenResponse.token || tokenResponse.accessToken;\nif (!accessToken) throw new Error('Token Hotmart nao retornado. Confira HOTMART_BASIC_AUTHORIZATION.');\nreturn [{ json: { ...previous, accessToken } }];\n"
      },
      "id": "PrepararContexto",
      "name": "Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst current = items[0]?.json || {};\nconst config = current.config;\nconst statusIndex = Number(current.statusIndex || 0);\nreturn [{ json: { ...current, currentStatus: config.statuses[statusIndex], pageNumber: Number(current.pageNumber || 1), pageToken: current.pageToken || null } }];\n"
      },
      "id": "PrepararConsulta",
      "name": "Preparar Consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ (() => { const c = $json.config; const start = new Date(c.startDate + 'T00:00:00-03:00').getTime(); const end = new Date(c.endDate + 'T23:59:59-03:00').getTime(); const params = new URLSearchParams({ start_date: String(start), end_date: String(end), max_results: String(c.maxResults), transaction_status: $json.currentStatus }); if ($json.pageToken) params.set('page_token', $json.pageToken); return c.hotmartSalesHistoryUrl + '?' + params.toString(); })() }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.accessToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000,
          "retry": {
            "maxTries": 3
          }
        }
      },
      "id": "BuscarHistoricoHotmart",
      "name": "Buscar Historico Hotmart",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\nfunction get(obj, path) {\n  return path.split('.').reduce((acc, key) => {\n    if (!acc || typeof acc !== 'object') return undefined;\n    return acc[key];\n  }, obj);\n}\nfunction first(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && String(value).trim() !== '') return value;\n  }\n  return null;\n}\nfunction text(...values) {\n  const value = first(...values);\n  return value === null ? null : String(value).trim();\n}\nfunction number(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? value : null;\n  if (typeof value === 'object') return number(value.value, value.amount, value.total, value.price);\n  const normalized = String(value).replace(/\\s/g, '').replace(/R\\$/gi, '').replace(/\\./g, '').replace(',', '.');\n  const parsed = Number(normalized);\n  return Number.isFinite(parsed) ? parsed : null;\n}\nfunction integer(...values) {\n  const value = number(...values);\n  return value ? Math.max(1, Math.round(value)) : 1;\n}\nfunction date(...values) {\n  const value = first(...values);\n  if (value === null) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString();\n}\nfunction array(...values) {\n  for (const value of values) {\n    if (Array.isArray(value)) return value;\n  }\n  return [];\n}\nfunction commissionValue(item, purchase, data) {\n  const direct = number(item.net_amount, item.valor_liquido, item.producer_net_amount, get(item, 'commission.value'), get(item, 'commission.amount'), get(data, 'commission.value'), get(data, 'commission.amount'), get(purchase, 'commission.value'));\n  if (direct !== null) return direct;\n  const commissions = array(item.commissions, data.commissions, purchase.commissions);\n  const producer = commissions.find((commission) => {\n    const source = String(commission.source || commission.role || commission.type || commission.name || '').toUpperCase();\n    return source.includes('PRODUCER') || source.includes('PRODUTOR') || source.includes('SELLER');\n  });\n  return producer ? number(producer.value, producer.amount, producer.commission) : null;\n}\nfunction firstReceivableDate(item, purchase, data) {\n  const receivables = array(item.receivables, item.installments, data.receivables, purchase.receivables);\n  for (const receivable of receivables) {\n    const found = date(receivable.expected_payment_date, receivable.payment_date, receivable.release_date, receivable.due_date, receivable.date);\n    if (found) return found;\n  }\n  return null;\n}\nfunction normalizeHotmartRow(item, eventName) {\n  const data = item.data || item;\n  const purchase = data.purchase || item.purchase || item;\n  const buyer = data.buyer || purchase.buyer || item.buyer || {};\n  const product = data.product || purchase.product || item.product || {};\n  const payment = data.payment || purchase.payment || item.payment || {};\n  const price = purchase.price || data.price || item.price || {};\n  const transactionId = text(purchase.transaction, get(purchase, 'transaction.code'), data.transaction, item.transaction, item.transaction_id, item.purchase_transaction, item.id);\n  return {\n    event_id: text(item.event_id, item.id, get(item, 'event.id'), eventName && transactionId ? `${eventName}-${transactionId}` : null),\n    transaction_id: transactionId,\n    event: text(item.event, item.event_name, item.type, eventName),\n    product_id: text(product.id, product.ucode, item.product_id, item.hotmart_product_id),\n    product_name: text(product.name, product.title, item.product_name, item.produto_nome),\n    buyer_email: text(buyer.email, item.buyer_email, item.email)?.toLowerCase() || null,\n    buyer_name: text(buyer.name, buyer.full_name, item.buyer_name, item.name),\n    buyer_phone: text(buyer.phone, buyer.phone_number, item.buyer_phone, item.telefone),\n    status: text(purchase.status, data.status, item.purchase_status, item.status, item.event) || 'unknown',\n    payment_type: text(payment.type, payment.method, purchase.payment_type, item.payment_type),\n    installments: integer(payment.installments_number, payment.installments, purchase.installments_number, item.installments, item.parcelas),\n    currency: text(price.currency_code, price.currency, item.currency, item.moeda) || 'BRL',\n    gross_amount: number(price.value, purchase.price?.value, purchase.full_price?.value, data.price?.value, item.gross_amount, item.valor_bruto, item.price),\n    net_amount: commissionValue(item, purchase, data),\n    fees: number(data.fees?.value, purchase.fees?.value, item.fees, item.taxas),\n    purchase_date: date(purchase.order_date, purchase.purchase_date, item.purchase_date, item.data_compra, data.creation_date),\n    approved_date: date(purchase.approved_date, item.approved_date, item.data_aprovacao),\n    refund_date: date(purchase.refund_date, item.refund_date, item.data_reembolso),\n    chargeback_date: date(purchase.chargeback_date, item.chargeback_date, item.data_chargeback),\n    expected_payment_date: date(firstReceivableDate(item, purchase, data), data.receivable?.expected_payment_date, data.payment?.expected_payment_date, item.expected_payment_date, item.data_prevista),\n    source_sck: text(data.tracking?.source_sck, purchase.tracking?.source_sck, item.tracking?.source_sck, item.source_sck, item.sck),\n    raw_payload: item\n  };\n}\n\nconst response = items[0]?.json || {};\nlet context;\ntry { context = $('Preparar Consulta').item.json; } catch (error) { context = $('Preparar Consulta').first().json; }\nconst candidates = [response.items, response.data, response.results, response.sales, response.purchases, response.content];\nconst sales = candidates.find(Array.isArray) || [];\nconst rows = [];\nfor (const item of sales) {\n  const row = normalizeHotmartRow(item, 'sales_history');\n  if (!row.transaction_id) continue;\n  rows.push(row);\n}\nconst nextPageToken = text(response.page_info?.next_page_token, response.pageInfo?.nextPageToken, response.next_page_token, response.nextPageToken, response.next);\nconst summary = { ...(context.summary || {}), pagesProcessed: Number(context.summary?.pagesProcessed || 0) + 1, vendasNormalizadas: Number(context.summary?.vendasNormalizadas || 0) + rows.length };\nsummary.byStatus = summary.byStatus || {};\nsummary.byStatus[context.currentStatus] = { pages: Number(summary.byStatus[context.currentStatus]?.pages || 0) + 1, rows: Number(summary.byStatus[context.currentStatus]?.rows || 0) + rows.length };\nreturn [{ json: { ...context, rows, count: rows.length, nextPageToken, hasNextPage: Boolean(nextPageToken) && Number(context.pageNumber || 1) < Number(context.config.maxPagesPerStatus || 200), summary } }];\n"
      },
      "id": "NormalizarHistorico",
      "name": "Normalizar Historico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-rows",
              "leftValue": "={{ $json.rows.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "Temvendas",
      "name": "Tem vendas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.config.plataformaImportUrl.replace(/\\/$/, \"\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $json.config.n8nIngestToken }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { tenant_id: $json.config.plataformaTenantId, rows: $json.rows } }}",
        "options": {
          "timeout": 120000,
          "retry": {
            "maxTries": 3
          }
        }
      },
      "id": "EnviarPlataformaComercial",
      "name": "Enviar Plataforma Comercial",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst input = items[0]?.json || {};\nlet current = input.config ? input : null;\nif (!current) {\n  try { current = $('Normalizar Historico').item.json; } catch (error) { current = $('Normalizar Historico').first().json; }\n}\nconst importResult = input.ok !== undefined ? input : null;\nconst summary = { ...(current.summary || {}) };\nif (importResult) {\n  summary.imported = Number(summary.imported || 0) + Number(importResult.imported || 0);\n  summary.updated = Number(summary.updated || 0) + Number(importResult.updated || 0);\n  summary.skipped = Number(summary.skipped || 0) + Number(importResult.skipped || 0);\n  if (Array.isArray(importResult.errors) && importResult.errors.length) summary.errors = [...(summary.errors || []), ...importResult.errors];\n}\nlet nextStatusIndex = Number(current.statusIndex || 0);\nlet nextPageToken = null;\nlet nextPageNumber = 1;\nif (current.hasNextPage) {\n  nextPageToken = current.nextPageToken;\n  nextPageNumber = Number(current.pageNumber || 1) + 1;\n} else {\n  nextStatusIndex += 1;\n}\nconst hasMore = nextStatusIndex < current.config.statuses.length;\nreturn [{ json: { ...current, statusIndex: nextStatusIndex, currentStatus: current.config.statuses[nextStatusIndex] || null, pageToken: nextPageToken, pageNumber: nextPageNumber, hasMore, summary } }];\n"
      },
      "id": "PrepararProximaConsulta",
      "name": "Preparar Proxima Consulta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "Aindaconsultar",
      "name": "Ainda consultar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const current = items[0]?.json || {};\nreturn [{ json: { ok: true, message: 'Consulta Hotmart concluida.', summary: { ...(current.summary || {}), finishedAt: new Date().toISOString() } } }];"
      },
      "id": "FimConsultaHotmart",
      "name": "Fim Consulta Hotmart",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1620,
        100
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Configurar Incremental",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Incremental": {
      "main": [
        [
          {
            "node": "Obter Token Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter Token Hotmart": {
      "main": [
        [
          {
            "node": "Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Contexto": {
      "main": [
        [
          {
            "node": "Preparar Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Consulta": {
      "main": [
        [
          {
            "node": "Buscar Historico Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Historico Hotmart": {
      "main": [
        [
          {
            "node": "Normalizar Historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Historico": {
      "main": [
        [
          {
            "node": "Tem vendas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem vendas?": {
      "main": [
        [
          {
            "node": "Enviar Plataforma Comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Proxima Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Plataforma Comercial": {
      "main": [
        [
          {
            "node": "Preparar Proxima Consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Proxima Consulta": {
      "main": [
        [
          {
            "node": "Ainda consultar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ainda consultar?": {
      "main": [
        [
          {
            "node": "Preparar Consulta",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fim Consulta Hotmart",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "hotmart-comercial-incremental-diario-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "HotmartComercialIncrementalDiarioV1",
  "tags": []
}
