modules/instagram/Instagram_Directs_Messages_Collector_v1.json
{
  "name": "Instagram Directs / Mensagens Collector v1",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-start",
      "name": "Executar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -120
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "schedule-directs",
      "name": "A cada 1 hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -920,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "const token = $env.META_INSTAGRAM_ACCESS_TOKEN || $env.META_ACCESS_TOKEN || $env.META_ADS_ACCESS_TOKEN;\nconst pageId = $env.META_PAGE_ID || $env.INSTAGRAM_PAGE_ID || '112894641702385';\nconst instagramId = $env.INSTAGRAM_BUSINESS_ACCOUNT_ID || '17841400108793586';\nconst conversationsLimit = Number($env.INSTAGRAM_DIRECTS_CONVERSATIONS_LIMIT || 50);\nconst messagesLimit = Number($env.INSTAGRAM_DIRECTS_MESSAGES_LIMIT || 20);\n\nif (!token) {\n  throw new Error('Configure META_INSTAGRAM_ACCESS_TOKEN ou META_ACCESS_TOKEN no ambiente do n8n.');\n}\n\nreturn [{\n  json: {\n    token,\n    pageId,\n    instagramId,\n    conversationsLimit,\n    messagesLimit,\n    graphVersion: $env.META_GRAPH_VERSION || 'v23.0'\n  }\n}];"
      },
      "id": "configurar-coleta",
      "name": "Configurar coleta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -660,
        0
      ]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/' + $json.graphVersion + '/' + $json.pageId + '/conversations' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "platform",
              "value": "instagram"
            },
            {
              "name": "fields",
              "value": "={{ 'id,updated_time,participants,messages.limit(' + $json.messagesLimit + '){id,created_time,from,to,message,attachments,shares,sticker}' }}"
            },
            {
              "name": "limit",
              "value": "={{ $json.conversationsLimit }}"
            },
            {
              "name": "access_token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "buscar-conversas",
      "name": "Buscar conversas Instagram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "function text(value) {\n  return String(value || '').trim();\n}\n\nfunction lower(value) {\n  return text(value).toLowerCase();\n}\n\nfunction firstValue(...values) {\n  for (const value of values) {\n    if (value !== undefined && value !== null && text(value) !== '') return value;\n  }\n  return null;\n}\n\nfunction isBusinessSender(message) {\n  const from = message.from || {};\n  const fromId = text(from.id);\n  const fromUsername = lower(from.username || from.name);\n  const pageId = text($items('Configurar coleta')[0].json.pageId);\n  const instagramId = text($items('Configurar coleta')[0].json.instagramId);\n  const businessUsername = lower($env.INSTAGRAM_USERNAME || 'fga.jucoutinho');\n\n  return Boolean(\n    fromId && (fromId === pageId || fromId === instagramId) ||\n    fromUsername === businessUsername ||\n    fromUsername === '@' + businessUsername\n  );\n}\n\nfunction isRiskText(value) {\n  const content = lower(value);\n  return /(erro|falha|problema|bug|reclama[cç][aã]o|ruim|incomplet|pl[aá]gio|indevid|link errado|valor errado|pre[cç]o errado|n[aã]o funciona|reembolso|chargeback|cobran[cç]a|devolu[cç][aã]o|cancelar|cancelamento)/.test(content);\n}\n\nfunction isCommercialText(value) {\n  const content = lower(value);\n  return /(valor|pre[cç]o|matr[ií]cula|inscri[cç][aã]o|link|comprar|compra|pagamento|boleto|pix|cart[aã]o|agenda|consulta|palestra|or[cç]amento|quero|interesse|como funciona|curso|forma[cç][aã]o)/.test(content);\n}\n\nfunction topicFor(value) {\n  const content = lower(value);\n  if (isRiskText(content)) return 'Risco / Reclamacao';\n  if (/(jiu|jitsu|kimono|luta|tatame|faixa)/.test(content)) return 'Jiu Jitsu';\n  if (/(fam[ií]lia|filh|m[aã]e|pai|marido|espos|casa|crian[cç]a)/.test(content)) return 'Familia';\n  if (/(curso|forma[cç][aã]o|aasi|imers[aã]o|mentoria|aula|alun)/.test(content)) return 'Curso / Formacao';\n  if (/(consulta|cl[ií]nica|paciente|audiometria|zumbido|aparelho|audiologia|fono)/.test(content)) return 'Consulta / Clinica';\n  if (isCommercialText(content)) return 'Interesse comercial';\n  return 'Sem tema definido';\n}\n\nfunction potentialFor(value, wasAnswered) {\n  if (isRiskText(value)) return 'alto';\n  if (isCommercialText(value)) return 'alto';\n  if (!wasAnswered) return 'medio';\n  if (text(value)) return 'baixo';\n  return 'nao_classificado';\n}\n\nfunction actionFor(value, wasAnswered) {\n  if (isRiskText(value)) return 'Priorizar resposta humana, corrigir link/valor se aplicavel e registrar acao tomada.';\n  if (!wasAnswered && isCommercialText(value)) return 'Responder com orientacao objetiva, link correto e proximo passo de compra ou atendimento.';\n  if (!wasAnswered) return 'Responder ou marcar como analisado apos avaliar o contexto da conversa.';\n  return 'Conversa ja respondida; manter monitoramento se houver nova mensagem.';\n}\n\nconst response = items[0]?.json || {};\nconst conversations = Array.isArray(response.data) ? response.data : [];\nconst rows = [];\n\nfor (const conversation of conversations) {\n  const messages = Array.isArray(conversation.messages?.data) ? conversation.messages.data : [];\n  const sorted = [...messages].sort((a, b) => new Date(a.created_time || 0) - new Date(b.created_time || 0));\n\n  for (const message of sorted) {\n    if (isBusinessSender(message)) continue;\n\n    const messageText = firstValue(message.message, message.attachments ? '[Anexo recebido]' : null, message.sticker ? '[Figurinha recebida]' : null, '');\n    const laterBusinessReply = sorted.some((candidate) => {\n      return isBusinessSender(candidate) && new Date(candidate.created_time || 0) > new Date(message.created_time || 0);\n    });\n    const productTopic = topicFor(messageText);\n    const potential = potentialFor(messageText, laterBusinessReply);\n\n    rows.push({\n      tenant_name: firstValue($env.PLATAFORMA_TENANT_NAME, 'Juliana Coutinho'),\n      account_name: firstValue($env.INSTAGRAM_ACCOUNT_NAME, 'Juliana Coutinho'),\n      username: firstValue($env.INSTAGRAM_USERNAME, 'fga.jucoutinho'),\n      source: 'direct',\n      marketing_type: 'interacao_marketing',\n      external_id: firstValue(message.id, conversation.id + '-' + message.created_time),\n      profile_username: firstValue(message.from?.username, message.from?.name, message.from?.id),\n      profile_name: firstValue(message.from?.name, message.from?.username, message.from?.id),\n      message_text: messageText,\n      media_id: conversation.id,\n      post_id: null,\n      post_permalink: null,\n      interaction_at: firstValue(message.created_time, conversation.updated_time, new Date().toISOString()),\n      status: laterBusinessReply ? 'respondido' : 'novo',\n      potential,\n      product_topic: productTopic,\n      next_action: actionFor(messageText, laterBusinessReply),\n      origem: 'n8n_instagram_directs_messages',\n      raw_payload: {\n        conversation_id: conversation.id,\n        conversation_updated_time: conversation.updated_time,\n        message,\n        participants: conversation.participants || null,\n        later_business_reply: laterBusinessReply\n      }\n    });\n  }\n}\n\nif (!rows.length) {\n  return [{ json: { rows: [], skipped: true, reason: 'Nenhuma mensagem de cliente encontrada nas conversas retornadas.' } }];\n}\n\nreturn [{ json: { rows, count: rows.length } }];"
      },
      "id": "normalizar-directs",
      "name": "Normalizar Directs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = items[0]?.json?.rows || [];\nconst batchSize = Number($env.INSTAGRAM_DIRECTS_BATCH_SIZE || 100);\n\nif (!rows.length) {\n  return [{ json: { rows: [], skipped: true, reason: items[0]?.json?.reason || 'Sem linhas para importar.' } }];\n}\n\nconst batches = [];\nfor (let index = 0; index < rows.length; index += batchSize) {\n  batches.push({\n    json: {\n      rows: rows.slice(index, index + batchSize),\n      batch: Math.floor(index / batchSize) + 1,\n      total_batches: Math.ceil(rows.length / batchSize),\n      total_rows: rows.length\n    }\n  });\n}\n\nreturn batches;"
      },
      "id": "montar-lotes",
      "name": "Montar lotes Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "tem-registros",
              "leftValue": "={{ Array.isArray($json.rows) && $json.rows.length > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "tem-registros",
      "name": "Tem registros?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        380,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.SUPABASE_URL || 'https://oerdsmgiebquecqwcbox.supabase.co').replace(/\\/$/, '') + '/rest/v1/instagram_interactions_import_rows' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.rows) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "upsert-supabase-directs",
      "name": "Upsert Supabase Directs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -80
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    ok: true,\n    skipped: true,\n    reason: $json.reason || 'Sem novas mensagens para importar.'\n  }\n}];"
      },
      "id": "sem-registros",
      "name": "Sem registros",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        140
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Executar manualmente": {
      "main": [
        [
          {
            "node": "Configurar coleta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "A cada 1 hora": {
      "main": [
        [
          {
            "node": "Configurar coleta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar coleta": {
      "main": [
        [
          {
            "node": "Buscar conversas Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversas Instagram": {
      "main": [
        [
          {
            "node": "Normalizar Directs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Directs": {
      "main": [
        [
          {
            "node": "Montar lotes Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Montar lotes Supabase": {
      "main": [
        [
          {
            "node": "Tem registros?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tem registros?": {
      "main": [
        [
          {
            "node": "Upsert Supabase Directs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sem registros",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "instagram-directs-messages-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "instagram-directs-messages-v1",
  "tags": []
}
