modules/relatorios/Resumo_Operacional_Telegram_v1.json
{
  "name": "Resumo Operacional Telegram v1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "A cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst parts = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Sao_Paulo',\n  hour: '2-digit',\n  minute: '2-digit',\n  hour12: false,\n}).formatToParts(now);\nconst hour = parts.find((part) => part.type === 'hour')?.value ?? '00';\nconst minute = parts.find((part) => part.type === 'minute')?.value ?? '00';\nreturn [{ json: { currentTime: `${hour}:${minute}` } }];"
      },
      "id": "current-time",
      "name": "Horario Sao Paulo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        280
      ]
    },
    {
      "parameters": {
        "url": "={{ ($env.PLATAFORMA_BASE_URL || 'https://plataf-op-hml.vercel.app').replace(/\\/$/, '') + '/api/relatorios/due?time=' + $json.currentTime }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_INGEST_TOKEN }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "buscar-reports",
      "name": "Buscar reports do horario",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items || [];\nreturn items.map((item) => ({ json: item }));"
      },
      "id": "abrir-itens",
      "name": "Abrir reports",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "channel-telegram",
              "leftValue": "={{ $json.channel }}",
              "rightValue": "telegram",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "has-chat",
              "leftValue": "={{ $json.telegramChatId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "eh-telegram",
      "name": "Telegram configurado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $json.telegramChatId }}"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            },
            {
              "name": "disable_web_page_preview",
              "value": "true"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "enviar-telegram",
      "name": "Enviar Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.PLATAFORMA_BASE_URL || 'https://plataf-op-hml.vercel.app').replace(/\\/$/, '') + '/api/relatorios/log' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_INGEST_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "logId",
              "value": "={{ $('Abrir reports').item.json.logId }}"
            },
            {
              "name": "status",
              "value": "enviado"
            },
            {
              "name": "metadata",
              "value": "={{ { telegram: $json } }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "registrar-sucesso",
      "name": "Registrar sucesso",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        180
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ ($env.PLATAFORMA_BASE_URL || 'https://plataf-op-hml.vercel.app').replace(/\\/$/, '') + '/api/relatorios/log' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.N8N_INGEST_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "logId",
              "value": "={{ $json.logId }}"
            },
            {
              "name": "status",
              "value": "erro"
            },
            {
              "name": "error",
              "value": "Canal Telegram sem chat_id ou canal ainda nao implementado neste workflow."
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "registrar-erro-config",
      "name": "Registrar erro configuracao",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        400
      ]
    }
  ],
  "connections": {
    "A cada 15 minutos": {
      "main": [
        [
          {
            "node": "Horario Sao Paulo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Horario Sao Paulo": {
      "main": [
        [
          {
            "node": "Buscar reports do horario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar reports do horario": {
      "main": [
        [
          {
            "node": "Abrir reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Abrir reports": {
      "main": [
        [
          {
            "node": "Telegram configurado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram configurado?": {
      "main": [
        [
          {
            "node": "Enviar Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar erro configuracao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Telegram": {
      "main": [
        [
          {
            "node": "Registrar sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-13T00:00:00.000Z",
  "versionId": "relatorios-telegram-v1"
}
